.markdown-body p:not(:first-child),
.markdown-body ul:not(:first-child),
.markdown-body ol:not(:first-child) {
  margin-top: 1rem;
}

.markdown-body h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.markdown-body ul li {
  margin-left: 2rem;
  list-style-type: circle;
}

.markdown-body a {
  text-decoration: underline;
}
